* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.container {
    width: 80%;
    margin: 4% auto;
    text-align: center;
}

h1 {
    margin: 4%;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

.hide {
    display: none;
}

.card {
    max-width: 700px;
    display: flex;
    margin: 8% auto;
    padding: 4%;
    background: #c9c9b7;
    border-radius: 5px;
}

.name {
    text-align: left;
}

.quote{
    display: flex;
    font-size: 2rem;
    /* margin: 6% 0 6% 0; */
    padding: 4%;
}

.season {
    text-align: left;
}

.episode {
    text-align: left;
}

.leftDiv {
    width: 50%;
}

.quoteDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDiv {
    width: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
}

.imgDiv img {
    width: 100%;
}

.textDiv{
    /* width: 50%; */
}
